::-moz-selection{
    background-color: var(--hover-color);
    color: #222;
}

::selection{
    background-color: var(--hover-color);
    color: #222;
}

:root{
    --header-color: #100d06;
    --header-color: #222;
    --hover-color: #C68E6C;
    --body-bg-color: ivory;
    --linear-g--first-color: #2f3631;
    --linear-g--second-color: #C68E6C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
}
body {
  font-family: "PT Sans Caption", sans-serif;
  background-color: var(--body-bg-color);
}
.body-color{
    color: var(--body-bg-color);
}
.bookmark a{
    text-decoration: none;
    color: inherit;
    display: block;

}
.fs-18{
    font-size: 1.125rem;
}
/* ################################################## */
/* bookmark header */
.bookmark .header h1 {
    color: var(--header-color);

}
.bookmark .header h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 35%;
  left: 0;
  bottom: 0;
  background-color: var(--hover-color);
  z-index: -1;
  -webkit-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.bookmark .header h1:hover::after {
  height: 70%;
}
/* bookmark form */
.form {
    border: dotted;
}
/* form header */
.form-header .h3 {
  font-family: "Righteous", cursive;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--linear-g--first-color)), to(var(--linear-g--second-color)));
  background-image: -o-linear-gradient(left, var(--linear-g--first-color), var(--linear-g--second-color));
  background-image: linear-gradient(to right, var(--linear-g--first-color), var(--linear-g--second-color));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 1.5625rem;
}
.form-header .h3::before {
  font: var(--fa-font-solid);
  content: "\f02e";
}
.form-header .h3::after {
  font: var(--fa-font-solid);
  content: "\f02e";
}
/* form input */
.bookmark-input {
    color: var(--hover-color);
    background-color: var(--header-color);
    border: none;
    -webkit-transition: border-color .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
    transition: border-color .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}
.bookmark-input::-webkit-input-placeholder {
    color: var(--body-bg-color);
}
.bookmark-input::-moz-placeholder {
    color: var(--body-bg-color);
}
.bookmark-input:-ms-input-placeholder {
    color: var(--body-bg-color);
}
.bookmark-input::-ms-input-placeholder {
    color: var(--body-bg-color);
}
.bookmark-input::placeholder {
    color: var(--body-bg-color);
}
.bookmark-input:focus {
    color: var(--header-color);
    background-color: var(--body-bg-color);
    outline: 0;
    -webkit-box-shadow: 0 0 0 .25rem rgba(34, 34, 34, .75);
            box-shadow: 0 0 0 .25rem rgba(34, 34, 34, .75);
}
/* alert box */
.bookmark .alert{
    width: 500px;
}
.alert-close-btn{
    --bs-btn-close-color: #000;
    --bs-btn-close-opacity: .8;
    --bs-btn-close-hover-opacity: 1;
    --bs-btn-close-focus-shadow: 0;
}
/* table */
tr,th{
    vertical-align: middle;
}

td{
    color: var(--hover-color) !important;
}

.visit-btn,
.del-btn,
.edit-btn{
    width: 85px;
}